/* <--- RESET ---> */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* <--- FONTS ---> */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/Raleway/Raleway-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf')
    format('truetype');
}
@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/Libre_Baskerville/LibreBaskerville-Bold.ttf')
    format('truetype');
}
@font-face {
  font-family: 'Libre Baskerville';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/Libre_Baskerville/LibreBaskerville-Italic.ttf')
    format('truetype');
}
@font-face {
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/Source_Sans_3/SourceSans3-VariableFont_wght.ttf')
    format('truetype');
}
@font-face {
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('/fonts/Source_Sans_3/SourceSans3-VariableFont_wght.ttf')
    format('truetype');
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/Noto_Sans/NotoSans-VariableFont_wdth\,wght.ttf')
    format('truetype');
}
/* <--- GLOBAL ---> */
:root {
  --navbar-height: 66px;
}
html {
  font-size: clamp(5px, calc(0.3vw + 1px), 10px) !important;
  scroll-behavior: smooth;
}
/* <--- TYPOGRAPHY ---> */
.app-text-h1 {
  font-family: 'Libre Baskerville', serif !important;
  font-weight: 400 !important;
  font-size: 4rem !important;
  letter-spacing: 0.2rem !important;
  color: var(--v-text-base) !important;
}
.app-text-h2 {
  font-family: 'Libre Baskerville', serif !important;
  font-weight: 700 !important;
  font-size: 3rem !important;
  color: var(--v-text-base) !important;
}
.app-text-subtitle {
  font-family: 'Libre Baskerville', serif !important;
  font-weight: 700 !important;
  font-size: 2.5rem !important;
  font-style: italic !important;
  color: var(--v-accent-base) !important;
}
.app-text-long {
  font-family: 'Source Sans 3', sans-serif !important;
  font-weight: 500 !important;
  font-size: 2rem !important;
  letter-spacing: 0.1rem;
  color: var(--v-text-base) !important;
}
.app-text-button {
  font-family: 'Noto Sans', sans-serif !important;
  font-weight: 700 !important;
  font-size: 2rem !important;
  color: var(--v-accent-base) !important;
}
.app-text-info {
  font-family: 'Source Sans 3', sans-serif !important;
  font-weight: 300 !important;
  font-size: 2.5rem !important;
  color: var(--v-grey-base) !important;
}
strong {
  color: var(--v-accent-base);
}
